<app-header></app-header>

<div class="container my-5">
  <div class="row">
    <ng-container *ngIf="!loading">
      <ng-container *ngIf="(products | filterProduct:search).length>0;else not_results">
        <div class="col-12 col-md-6 col-lg-4" *ngFor="let product of products | filterProduct:search">
          <app-card-product [product]="product"></app-card-product>
        </div>
      </ng-container>

      <ng-template #not_results>
        <div class="col-12">
          <img class="w-100" height="250" src="/assets/not_results.svg" alt="No hay resultados">
          <p class="text-center">No hay resultados</p>
        </div>
      </ng-template>
    </ng-container>

    <div *ngIf="loading" class="col-12 text-center">
      <div class="spinner-grow" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
