<div class="card m-3 border-0">
  <img [src]="product.image" class="card-img-top p-2" [alt]="product.title">
  <div class="card-body m-1">
    <h6 class="card-title text-uppercase product-category">{{product.category}}</h6>
    <h5 class="card-title">{{product.title}}</h5>
    <p *ngIf="!showMoreDescription.id" class="card-text">{{product.description | truncate:50:true}}
      <button (click)="showMoreDescription.id = true" type="button" class="btn btn-link p-0">Ver más</button>
    </p>

    <p *ngIf="showMoreDescription.id" class="card-text">{{product.description}}
      <button (click)="showMoreDescription.id = false" type="button" class="btn btn-link p-0">Ver menos</button>
    </p>


    <div class="row justify-content-between">
      <hr>
      <div class="col-auto">
        <h5 class="fw-bold product-price mb-0">{{product.price | currency}}</h5>
      </div>
      <div class="col-auto">
        <button class="btn btn btn-outline-light buttons-footer p-0">
          <span class="material-symbols-outlined">
            favorite
            </span>
        </button>
        <button class="btn btn btn-outline-light buttons-footer p-0">
          <span class="material-symbols-outlined">
            shopping_cart
            </span>
        </button>
      </div>
    </div>
  </div>
  <!-- <div class="card-footer p-0">
    <a href="#" class="btn btn-primary w-100 h-100">Ver producto</a>
  </div> -->
</div>
